.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  position: relative;

  h1 {
    font-size: 2em;
    margin-top: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin: 1.5em;
  }
  @media (min-width: 500px) {
    font-size: 1.25em;
  }
  @media (min-width: 800px) {
    font-size: 1.5em;
  }

  @media (min-width: $desktopBP) {
    height: 100%;
    flex-direction: row;
    font-size: 1.15em;
    .desktop-hero-left {
      h1 {
        text-align: left;
        font-size: 2.5em;
        margin-top: 45%;
      }
    }
  }
  @media (min-width: $desktopBP4) {
    font-size: 1.15em;
    .desktop-hero-left {
      h1 {
        font-size: 2.6em;
      }
    }
  }
  @media (min-width: $desktopBP5) {
    font-size: 1.25em;
  }
  @media (min-width: $desktopBP6) {
    font-size: 1.15vw;
    .desktop-hero-left {
      h1 {
        font-size: 3.65em;
      }
    }
  }
}

.desktop-hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $desktopBP) {
    width: 55%;
    align-items: flex-start;
    margin-top: -6em;
  }
  .desktop-hero-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;

    @media (min-width: $desktopBP) {
      align-items: center;
      margin-left: 10vw;
    }
  }
}

.hero-btn {
  background-color: var(--accentColor);
  border: unset;
  color: var(--bgColor);
  font-weight: 700;
  padding: 0.75em 2.25em;
  margin-inline: auto;
  line-height: 1;
  text-transform: uppercase;
  @include hoverEffect;

  @media (min-width: $desktopBP) {
    margin-right: auto;
    font-size: 1.05em;
  }
}

.scroll-element {
  width: 18px;
  margin-bottom: 3.5em;
  circle {
    animation-name: scrollCircle;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @media (min-width: 390px) {
    width: 22px;
  }
  @media (min-width: 500px) {
    width: 28px;
  }
  @media (min-width: 650px) {
    width: 38px;
  }
  @media (min-width: $desktopBP) {
    width: 22px;
    &::after {
      content: attr(data-content);
      opacity: 0;
      background-color: var(--accentColor80);
      padding: 0.5em 1em;
      font-size: 1rem;
      text-align: center;
      color: var(--inputColor);
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      transition-delay: 50ms;
      transition-duration: 300ms;
      pointer-events: none;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  @media (min-width: $desktopBP3) {
    width: 28px;
  }
  @media (min-width: $desktopBP4) {
    width: 32px;
  }
  @media (min-width: $desktopBP6) {
    width: 1.35vw;
  }
}

.hero-illustration {
  width: 100vw;
  @media (min-width: $desktopBP) {
    width: 70vw;
    position: absolute;
    right: -25%;
    top: 15vh;
  }
}

.hero-vector {
  @media (max-width: $desktopBP) {
    display: none;
  }
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 70vw;
}

.contact-btns-after-scroll {
  display: none;
  @media (min-width: $desktopBP) {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 1em;
    bottom: 8%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-5vw);
    transition-duration: 500ms;

    .hero-contact-link {
      padding: 0;
      margin: 0;
      display: flex;
      border: none;
      font-size: max(2.5rem, 2vw);
      cursor: pointer;
      color: var(--accentColor);
    }
    &.active {
      opacity: 1;
      display: flex;
      position: fixed;
      transform: translateX(5vw);
      pointer-events: all;
    }
  }
}

@keyframes scrollCircle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}
