.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;

  h1 {
    font-size: 2rem;
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin: 1.5em;
  }

  @media (min-width: 390px) {
    font-size: 1rem;
    h1 {
      font-size: 2.2rem;
    }
  }

  @media (min-width: 500px) {
    font-size: 1.25rem;
    h1 {
      font-size: 2.75rem;
    }
  }
  @media (min-width: 650px) {
    font-size: 1.5rem;
    h1 {
      font-size: 3.5rem;
    }
  }

  @media (min-width: 800px) {
    font-size: 2rem;
    h1 {
      font-size: 4.25rem;
    }
  }

  @media (min-width: $desktopBP) {
  }
}

.hero-btn {
  background-color: $accentColor;
  border: unset;
  color: white;
  font-weight: 700;
  padding: 0.75em 2.25em;
  margin-inline: auto;
  margin-top: 3.25em;
  line-height: 1;
}

.scroll-element {
  width: 18px;
  margin-bottom: 3.5em;
  circle {
    animation-name: scrollCircle;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @media (min-width: 390px) {
    width: 22px;
  }
  @media (min-width: 500px) {
    width: 28px;
  }
  @media (min-width: 650px) {
    width: 38px;
  }
}

.hero-illustration {
  width: 101vw;
}

@keyframes scrollCircle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}
