nav {
  display: flex;
  justify-content: space-between;
  margin-top: -0.5em;

  @media (min-width: 500px) {
    margin: -0.5em -1.25em 0 -1.25em;
  }
  @media (min-width: 650px) {
    margin: -0.5em -1.75em 0 -1.75em;
  }
  @media (min-width: $desktopBP) {
    margin: unset;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 101vw;
    height: 101vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition-duration: 500ms;
    background-color: hsla(0, 0%, 19%, 0.97);
    padding-right: 1.5em;
    gap: 0.5em;
    z-index: 1000;

    &.not-active {
      opacity: 0;
      transform: translateY(-120vh);
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
    }

    li {
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      font-size: clamp(1.35rem, 3.9vw, 3rem);
      position: relative;
      transition: transform 150ms;
      cursor: pointer;
      span.active {
        font-weight: 700;
        color: var(--accentColor);
      }
      a {
        color: white;
      }
      @media (max-width: $desktopBP) {
        &::before {
          content: "";
          width: 100%;
          height: 3px;
          background-color: white;
          position: absolute;
          top: 50%;
          left: calc(-100% - 0.25em);
          transform: translateY(-50%);
          transition-duration: 300ms;
          pointer-events: none;
        }
        &:hover {
          transform: scale(1.05);
          &::before {
            top: 100%;
            left: 0;
          }
        }
      }
    }

    @media (min-width: $desktopBP) {
      position: static;
      width: 100%;
      height: unset;
      background-color: unset;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2em;
      align-items: center;
      padding-right: unset;
      li {
        color: var(--accentColor80);
        font-size: 1rem;
        &.nav-link {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--accentColor);
            height: 0.25rem;
            border-radius: 3px;
            width: 0;
            transition-duration: 300ms;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
          &.active {
            color: var(--accentColor);
            &::before {
              content: "";
              position: absolute;
              left: 50%;
              top: -3px;
              transform: translateX(-50%);
              background-color: var(--accentColor);
              height: 0.25rem;
              border-radius: 3px;
              width: 100%;
              transition-duration: 300ms;
              transition-delay: 500ms;
            }
          }
        }
        a {
          color: inherit;
          transition-duration: 300ms;
        }
        &:hover {
          a {
            color: var(--accentColor);
          }
        }
        &.theme-switch {
          font-size: 1em;
          color: var(--accentColor);
        }
        @media (min-width: $desktopBP3) {
          font-size: 1.15rem;
        }
        @media (min-width: $desktopBP5) {
          font-size: 1.35rem;
        }
        @media (min-width: $desktopBP6) {
          font-size: 1.75rem;
        }
      }

      &.not-active {
        opacity: unset;
        transform: unset;
      }
      &.active {
        opacity: unset;
        transform: unset;
      }
    }
  }
}

.logo {
  width: 12em;
  margin-top: -0.25em;
  z-index: 1;
  cursor: pointer;
  @media (min-width: 390px) {
    width: 13.9em;
  }
  @media (min-width: 500px) {
    width: 15em;
  }
  @media (min-width: 650px) {
    width: 17em;
  }
  @media (min-width: $desktopBP) {
    width: 13em;
  }
  @media (min-width: $desktopBP3) {
    width: 15em;
  }
  @media (min-width: $desktopBP5) {
    width: 17em;
  }
}

.menu-btn {
  background-color: unset;
  border: unset;
  font-size: 2em;
  line-height: 0;
  margin-top: 0.25rem;
  z-index: 1001;
  transition-duration: 250ms;
  padding: 0;
  &.close {
    color: white;
    transform: rotate(180deg);
  }
  &.open {
    color: var(--accentColor);
    transform: rotate(360deg);
  }

  @media (min-width: 500px) {
    font-size: 2.5em;
    margin-top: 0.39rem;
  }
  @media (min-width: 650px) {
    font-size: 3.5em;
    margin-top: 0.5rem;
  }
  @media (min-width: $desktopBP) {
    display: none;
  }
}

.theme-switch {
  display: flex;
}
