@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.25;
    margin-bottom: 2.25em;
    text-align: center;
    color: var(--accentColor80);
  }

  .btns-section {
    display: flex;
    justify-content: center;
    gap: max(5%, 10px);
    white-space: nowrap;
    margin-bottom: 3.5em;
  }

  button {
    display: flex;
    gap: 0.35em;
    padding: 0.5em 0.85em;
    align-items: center;
    line-height: 1;
    border-radius: 5em;
    border: unset;
    font-weight: 600;
    font-size: 0.9em;
  }

  .btn-icon {
    font-size: 1.1rem;
  }

  .github-btn {
    background-color: var(--accentColor);
    color: var(--bgColor);
    border: 1px solid var(--accentColor);
  }
  .live-website-btn {
    background-color: unset;
    border: 1px solid var(--accentColor);
    color: var(--accentColor);
  }

  @media (min-width: $desktopBP) {
    width: 90%;
    margin-inline: auto;
    font-size: 1.15rem;

    h3 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 0.39em;
      font-size: 1.3em;
      @media (min-width: $desktopBP) {
        color: white;
      }
    }
    h4 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 1.25em;
      font-size: 0.9em;
      @media (min-width: $desktopBP) {
        color: rgba(250, 250, 250, 0.9);
      }
    }
    .btns-section {
      display: none;
    }
  }
  @media (min-width: $desktopBP4) {
    width: 80%;
  }
}

.single-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktopBP) {
    width: 80%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition-duration: 300ms;
    align-items: center;
    justify-content: center;

    &.lcdg {
      h3 {
        color: $accentColor;
      }
      h4,
      b,
      .project-description {
        color: $accentColor;
      }
    }
  }
  @media (min-width: $desktopBP3) {
    font-size: 1.05em;
  }
  @media (min-width: $desktopBP4) {
    font-size: 1.1em;
  }
  @media (min-width: $desktopBP5) {
    font-size: 1.15em;
  }
  @media (min-width: $desktopBP6) {
    font-size: 1.5em;
  }
}

.btns-section-desktop {
  display: none;
  @media (min-width: $desktopBP) {
    display: flex;
    transition-duration: 300ms;
    z-index: 100000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    .live-website-btn {
      transition-duration: 1100ms;
      color: white;
      border-color: white;
    }
    .github-btn {
      transition-duration: 1100ms;
      color: $accentColor;
      background-color: white;
      border-color: white;
    }
  }
}

@media (min-width: $desktopBP) {
  .screenshot {
    margin-bottom: 5em;
    width: 70%;
    @media (min-width: $desktopBP6) {
      width: 90%;
    }
    position: relative;
    transition-duration: 700ms;
    clip-path: inset(100%);

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition-duration: 750ms;
      pointer-events: none;
      z-index: 2;
      background-color: hsl(358, 46%, 46%);
    }
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.5em;
      content: "\f103";
      width: 100%;
      height: 100%;
      text-align: center;
      bottom: 7.5%;
      position: absolute;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      animation: bounce 10000ms ease-in-out infinite;
      color: white;
    }
    &.bookmanager::after {
      background-color: hsl(214, 51%, 29%);
    }
    &.lcdg::after {
      background-color: hsl(41, 59%, 76%);
    }
    &:hover {
      transform: scale(1.3) translateY(-20%);
      margin-block: 12em 10em;
      & + .project-info {
        transition-property: opacity;
        transition-delay: 700ms;
        opacity: 1;
        padding-top: 1.5em;
        @media (min-width: $desktopBP6) {
          padding-top: 0;
        }
      }
      & .btns-section-desktop {
        transition-property: opacity;
        transition-delay: 700ms;
        opacity: 1;
        transition-duration: 300ms;
        .live-website-btn {
          transition-delay: 700ms;
          transform: translate(-2em, -2.5em);
          transition-duration: 300ms;
        }
        .github-btn {
          transition-delay: 700ms;
          transform: translate(2em, -2.5em);
          transition-duration: 300ms;
        }
      }
      &::after {
        transform: translateX(-50%) translateY(100%);
      }
      &::before {
        animation: unset;
        content: unset;
      }
    }
    &.lcdg {
      .btns-section-desktop {
        .live-website-btn {
          transition-duration: 300ms;
          color: $accentColor;
          border-color: $accentColor;
        }
        .github-btn {
          transition-duration: 300;
          color: white;
          background-color: $accentColor;
          border-color: $accentColor;
        }
      }
    }
    &.lcdg {
      margin-bottom: 15em;
    }
  }
}

.project-description {
  font-size: 0.9em;
  margin-bottom: 1.5em;
  margin-right: auto;
  @media (min-width: $desktopBP) {
    margin-bottom: 0.15em;
    font-size: 1.1em;
    color: rgba(250, 250, 250, 0.9);
    b {
      color: rgba(250, 250, 250, 0.9);
    }
    &.main {
      margin-bottom: 1.25em;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  10% {
    transform: translateY(15%) translateX(-50%);
  }
  15% {
    transform: translateY(15%) translateX(-50%);
  }
  25% {
    transform: translateY(0) translateX(-50%);
  }
}
