.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.25;
    margin-bottom: 2.25em;
    text-align: center;
    color: $accentColor80;
  }

  .btns-section {
    display: flex;
    justify-content: center;
    gap: max(5%, 10px);
    white-space: nowrap;
    margin-bottom: 3.5em;

    button {
      display: flex;
      gap: 0.35em;
      padding: 0.5em 0.85em;
      align-items: center;
      line-height: 1;
      border-radius: 5em;
      border: unset;
      font-weight: 600;
      font-size: 0.9em;
    }

    .btn-icon {
      font-size: 1.1rem;
    }

    .github-btn {
      background-color: $accentColor;
      color: white;
      border: 1px solid $accentColor;
    }
    .live-website-btn {
      background-color: unset;
      border: 1px solid $accentColor;
      color: $accentColor;
    }
  }
  @media (min-width: $desktopBP) {
    width: 90%;
    margin-inline: auto;
    font-size: 1.15rem;
    h3 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 0.39em;
      font-size: 1.3em;
    }
    h4 {
      text-align: left;
      font-weight: 700;
      margin-bottom: 1.25em;
      font-size: 0.9em;
    }
    .btns-section {
      margin-block: 1em 0;
    }
  }
  @media (min-width: $desktopBP4) {
    width: 80%;
  }
}

.single-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $desktopBP) {
    flex-direction: row;
    width: 100%;
    gap: 3em;
    align-items: flex-start;
    margin-bottom: 8em;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.project-info {
  display: flex;
  flex-direction: column;
}

.screenshot {
  flex: 0 0 50%;
}

.project-description {
  font-size: 0.9em;
  margin-bottom: 1.5em;
  margin-right: auto;
  @media (min-width: $desktopBP) {
    margin-bottom: 0.15em;
    font-size: 1em;
    &.main {
      margin-bottom: 1.25em;
    }
  }
  @media (min-width: $desktopBP2) {
    font-size: 0.95em;
  }
  @media (min-width: $desktopBP3) {
    font-size: 0.9em;
  }
  @media (min-width: $desktopBP4) {
    font-size: 0.8em;
  }
  @media (min-width: $desktopBP5) {
    font-size: 0.9em;
  }
}
