.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills {
  margin-top: 0.75em;
}

.skills-icon {
  font-size: 1.8em;
  position: relative;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  @media (min-width: 390px) {
    grid-template-columns: repeat(3, 115px);
  }
  @media (min-width: 500px) {
    grid-template-columns: repeat(3, 139px);
  }
  @media (min-width: 650px) {
    grid-template-columns: repeat(3, 166px);
  }
  @media (min-width: 780px) {
    grid-template-columns: repeat(3, 180px);
  }
  @media (min-width: $desktopBP) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.skills-icon-box {
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25em;
  gap: 0.5em;
  color: var(--accentColor80);

  &::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: var(--skillBarsColor);
    top: 10px;
    left: 0;
    @media (min-width: 500px) {
      top: 13px;
    }
    @media (min-width: 650px) {
      top: 16px;
    }
    @media (min-width: 780px) {
      top: 15px;
    }
    @media (min-width: $desktopBP) {
      top: 10%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: var(--skillBarsColor);
    bottom: 0;
  }
  &.rest::before,
  &.nextjs::before,
  &.firebase::before,
  &.figma::before,
  &.material-ui::before {
    content: unset;
  }
  &.bootstrap::after,
  &.graphql::after,
  &.material-ui::after {
    content: unset;
  }
  @media (min-width: $desktopBP) {
    &.nextjs::before,
    &.firebase::before,
    &.figma::before,
    &.material-ui::before {
      content: "";
    }
    &.photoshop::before,
    &.sass::before {
      content: unset;
    }
    &.photoshop::after,
    &.i18n::after {
      content: unset;
    }
  }
  p {
    font-size: 0.75em;
    cursor: default;
    user-select: none;
  }

  &:hover {
    background-color: var(--skillHoverColor);
    color: var(--accentColor);
  }
}

@media (min-width: 650px) {
  .skills-icon {
    font-size: 3em;
  }

  .skills-icon-box {
    padding: 2em;
  }
}
