.hero-vector-color {
  fill: var(--heroVectorColor);
}

.logo-color {
  fill: var(--logoColor);
}
.logo-color-stroke {
  stroke: var(--logoColor);
}
.logo-color-bg {
  fill: var(--logoColorBg);
}

.scroll-color {
  fill: var(--logoColor);
}
.scroll-color-stroke {
  stroke: var(--logoColor);
}

.cont-illu-main {
  fill: var(--contIlluMain);
}
.cont-illu-pages {
  fill: var(--contIlluPages);
}
.cont-illu-darker {
  fill: var(--contIlluDarker);
}
.cont-illu-screen {
  fill: var(--contIlluScreen);
}
.cont-illu-shirt {
  fill: var(--contIlluShirt);
}
.cont-illu-seat {
  fill: var(--contIlluSeat);
}
.cont-illu-stand {
  fill: var(--contIlluStand);
}

.hero-illu-pc-out {
  fill: var(--heroIlluPcOut);
}

.hero-illu-screen1 {
  fill: var(--heroIlluScreen1);
}
.hero-illu-screen2 {
  fill: var(--heroIlluScreen2);
}
.hero-illu-circle {
  fill: var(--heroIlluCircle);
}
.hero-illu-inner-circle {
  fill: var(--heroIlluInnerCircle);
}
