//? Colors

$bgColor: hsl(0, 0%, 96%);
$accentColor: hsl(0, 0%, 19%);
$darkColor: rgb(233, 218, 193);
$darkColorHover: rgb(212, 199, 176);
$darkerColor: rgb(177, 156, 121);
$accentColor: rgb(77, 73, 70);
$accentColorHover: rgb(36, 34, 32);
$textColor: rgb(50, 50, 50);
$modalColor: rgba(26, 26, 26, 0.99);
$green: rgb(74, 128, 74);
$red: rgb(137, 71, 71);
$blue: rgb(50, 119, 198);
$pink: rgb(157, 95, 142);
